<header>
  <div class="titulo">
      <h1>CellShop Tandil</h1>
      <img src="assets/images/inicio/logo_cellshop.jpeg" alt="Logo Cellshop">
  </div>
  <nav class="barraprincipal">
      <ul>
          <li><a [routerLink]="['/home']">INICIO</a></li>
          <li><a [routerLink]="['/products']">PRODUCTOS</a></li>
          <li><a [routerLink]="['/categories']">CATEGORIAS</a></li>
          <li><a [routerLink]="['/about']">SOBRE NOSOTROS</a></li>
      </ul>
  </nav>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
  <h3>Contacto</h3>
  <p>Podes contactarnos a través de:
      <img class="logoredes" src="assets/images/inicio/logo_whatsapp.png" alt="Logo Whatsapp">
      <a class="listacontacto" href="https://wa.me/5492494659575?text=Hola,%20estuve%20en%20el%20sitio%20web,%20quiero%20hacer%20una%20consulta." target="_blank"> WhatsApp</a>,
      <img class="logoredes" src="assets/images/inicio/logo_instagram.png" alt="Logo Instagram">
      <a class="listacontacto" href="https://www.instagram.com/cellshop_tandil/" target="_blank"> Instagram</a> ó
      <img class="logoredes" src="assets/images/inicio/logo_facebook.png" alt="Logo Facebook">
      <a class="listacontacto" href="https://www.facebook.com/profile.php?id=100072448748935" target="_blank"> Facebook</a>
  </p>
</footer>