<div class="pie">
    <h4>¿Quiénes somos?</h4>
        <p>Somos una Empresa dedicada a la comercialización de teléfonos celulares, computadoras, televisores, y muchos accesorios más.
            Nos encontramos en el rubro desde 2020, donde traemos directamente desde USA equipos originales, sellados y con garantía oficial.</p>
    <h4>Entregas</h4>
        <p>Contamos con un espacio físico para desarrollar una entrega personalizada, aumentando el vínculo comercial brindando mayor transparencia y confianza. Además, realizamos envíos a todo el País.</p>
    <h4>Medios de Pago</h4>
        <p>Aceptamos Efectivo, tanto Dólares como Pesos, Transferencias bancarias y tarjetas de crédito.</p>
    <h4>Garantía</h4>
        <p>Todos los equipos son nuevos, sellados con un año de garantía directa con la empresa.</p>
        <ul>
            <h5>NO ENTRAN EN GARANTÍA:</h5>
            <li>DESPERFECTO CAUSADO POR EL USO INDEBIDO, CAIDAS, GOLPES, MOJADOS O INGRESO DE LÍQUIDO.</li>
            <li>PROBLEMAS DE DISPLAY O MODULO, TACTIL, BATERIA OCASIONADOS POR EL USO.</li>
            <li>PLACA CON FIRMWARE ALTERADO.</li>
            <li>INSTALACIÓN O USO DE SOFTWARE NO RECOMENDADO POR LAS MARCAS FABRICANTES.</li>
            <li>EQUIPOS MANIPULADOS POR TERCEROS</li>
        </ul>
</div>